/* ========== CSS Reset ========== */
:root{
    --def-color: white;
    --dark-mode-color:black;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    color: var(--def-color);
}
html{
    scroll-snap-type: proximity;
    /* overflow-x: clip; */
    /* contain: paint; */
    scroll-behavior: smooth;
}
body{
    background: #2F4F4F;
    max-width: 100%;
    font-size: 20px;
}
a{
    text-decoration: none;
}
h1{
    font-size: 45px;
    color: var(--dark-mode-color);
}
/* HEADER */
header{
    display: flex;
    /* display: none; */
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    height: 10svh;
    width: 100%;
    position: fixed;
    backdrop-filter: blur(10px);
    z-index:6;
}
header .nav{
    display: flex;
    width: 50%;
    white-space: nowrap;
    gap: .8rem;
    justify-content: space-evenly;
}
header hr{
    width: 1px;
}
header h1 a{
    color: var(--dark-mode-color);
}

/* MAIN */
main div.home{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100svh;
}
main div img.pic1{
    max-width: 20svw;
}
main  div div.desc1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem;
    max-width: 60%;
    transition: scale ease-out .5s, transform ease 1s;
    border-radius: 2rem;
}
/* main div img.pic1:hover{
    cursor: pointer;
    animation: border 5s cubic-bezier(.2,.5,.8,1.5) infinite forwards;
    scale: 1.1;
} */
main div div.desc1:hover{
    cursor: pointer;
    backdrop-filter: blur(10px);
    scale: 1.05;
}
main div div.desc1 p{
    line-height: 2rem;
    letter-spacing: 1px;
    font-size: 20px;
}
main div div.desc1 h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}

/* SECTION 2 */
main div.section2{
    /* height: 100svh; */
    padding: 1rem;
    display: flex;
    max-width: 100svw;
    justify-content: space-between;
}


/* DISPLAYER SECTION TWO */

/* FOR EACH */
main div.section2 div.show-ons div{
    display: flex;
    flex-direction: column;
    height: 100svh;
    padding: 1em;
    overflow-y:scroll;
    gap: 1em;
}

/* FOR ABOUT ME */
main div.section2 div.show-ons div.about-me{
    gap: 2rem;
}
main div.section2 div.show-ons div.about-me section{
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: 20px;
    letter-spacing: 1px;
    align-self: center;
    text-align: center;
    line-height: 2rem;
}

/* FOR PROJECTS */
main div.section2 div.show-ons div.projects{
    gap: 2rem;
}
main div.section2 div.show-ons div.projects section.projects-ls{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2em;
}
main div.section2 div.show-ons div.projects section.projects-ls section{
    background-color: #667788;
    border-radius: 20px;
    height: 13rem;
    display: flex;
    font-size: 20px;
    padding: 1em;
}

/* FOR SKILLS */
main div.section2 div.show-ons div.skills section.skills-filters p{
    background-color: #667788;
    white-space: nowrap;
    padding: 0.5em 1em;
    align-self: center;
    border-radius: 1rem;
}
main div.section2 div.show-ons div.skills{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 2rem;
}
main div.section2 div.show-ons div.skills section.skills-filters{
    display: flex;
    overflow-x: scroll;
    gap: 2rem;
}
main div.section2 div.show-ons div.skills section.skills-ls{
    display: grid;
    flex: 1;
    width: 100%;
    align-self: center;
    gap: 2rem;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}
main div.section2 div.show-ons div.skills section.skills-ls section{
    background-color: #667788;
    border-radius: 20px;
    display: flex;
    padding: 1em;
}

/* FOR CONTACT */

main div.section2 div.show-ons div.contact{
    height: 60svh;
    justify-content: space-between;
}
main div.section2 div.show-ons div.contact section.contact-ls{
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
    gap: 3rem;
}
main div.section2 div.show-ons div.contact section.contact-ls section{
    border: solid 2px;
    padding: 1em;
    border-radius: 50%;
    display: flex;
    height: 15rem;
    width: 15rem;
    align-items: center;
    justify-content: center;
}
main div.section2 div.show-ons div.contact section.footer{
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    position: sticky;
    align-self: flex-end;
    bottom: 0;
}
main div.section2 div.show-ons div.contact section.footer :nth-child(1) :nth-child(2){
    font-size: 16px;
}
main div.section2 div.show-ons div.contact section.footer hr{
    width: 1px;
}

/* CLICK-ONS SECTION TWO */

/* main div.section2 div.click-ons{
    display: flex;
    font-size: 25px;
    justify-content: space-evenly;
    flex-direction: column;
    position: fixed;
    height: 100svh;
}

} */

/* HOVER EFFECTS */
main div.section2 div.show-ons div.projects section.projects-ls section:hover,main div.section2 div.show-ons div.skills section.skills-filters p:hover,
main div.section2 div.show-ons div.skills section.skills-ls section:hover{
    cursor: pointer;
    background-color: #8899AA;
}
header div.nav a:hover{
    transform: scale(1.3);
    transition: scale 1s ease-out;
    color: #22f5f2;
}



/* ANIMATIONS */
@keyframes border {
    0%{
        transform: rotateZ(0deg);
    }
    50%{
        transform: rotateZ(360deg);
    }
    100%{
        transform: rotateZ(-360deg);
    }
}
@keyframes showcase {
   from{
    opacity: 0;
    scale: 0.8;
   }
   to{
    opacity: 1;
    scale: 1;
   }
}













@media (max-width:760px){
    header{
        display: flex;
        justify-content: left;
        align-items: center;
        padding: 1rem;
    }
    header .nav{
        display: none;
    }
    main div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        
    }
    main div div.desc1{
        max-width: 90%;
        text-align: center;
    }
    main div div.desc1 h1{
        margin-bottom: 1rem;
    }
    main div img.pic1{
        max-width: 40svw;
    }
    main div div.desc1 h1{
        font-size: 2.5rem;
        margin-bottom: 0.5rem;
    }
    main div div.desc1 p{
        line-height: 2rem;
        letter-spacing: 1px;
        font-size: 18px;
    }
    main div.section2 div.click-ons{
     display: none;
    }
/* @media (min-width:520px) {
    header .nav{
        display: flex;
        width: 50%;
        justify-content: space-between;
    }
}
@media (min-width:720px) and (max-width:920px) {
    header .nav{
        display: flex;
        width: 60%;
        justify-content: space-between;
    }
} */